/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$STORYS]
----------------------------------------*/
/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/
input[type=text] {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline-color: #8e8e8e;
  width: 100%;
  max-width: 268px;
  padding: 13px 0px 13px 8px;
  font-size: 0.75rem;
  box-sizing: border-box;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  border-radius: 3px;
  height: 29.6px;
  cursor: pointer;
}

a {
  color: #385185;
  text-decoration: none;
  font-weight: 600;
}

p {
  color: #262626;
}

/*--------------------------------------- 
[$reset]
----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------- 
// [END reset]
----------------------------------------*/
/*--------------------------------------- 
[$universal]
----------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

/*--------------------------------------- 
// [END universal]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$STORYS]
----------------------------------------*/
/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
.l-site {
  width: 100vw;
}

/*--------------------------------------- 
[$HEADER]
----------------------------------------*/
.c-nav {
  display: flex;
  flex: 1;
}

@media (max-width: 767px) {
  .c-nav,
.search-bar {
    display: none;
  }
}

.header-bg {
  background-color: #fafafa;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
}
@media (min-width: 767px) {
  .header-bg {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.c-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .c-header {
    max-width: 975px;
    margin: 0 auto;
    height: 54px;
    padding: 0;
    padding-left: 25px;
  }
  .c-header .cam {
    display: none;
  }
  .c-header .sand {
    display: none;
  }
}
.c-header .logo {
  display: flex;
  align-items: center;
}
@media (min-width: 767px) {
  .c-header .logo {
    flex: 1;
  }
}
.c-header .logo .logo__img {
  width: 105px;
  height: auto;
}
.c-header .search-bar {
  max-width: 215px;
  height: 28px;
  flex: 2;
}
.c-header .search-bar .bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
}
.c-header .search-bar .bar--image {
  background-image: url(../../../assets/icons/lupa-icon.svg);
  background-repeat: no-repeat;
  background-position: 33%;
}
.c-header .search-bar .bar::placeholder {
  text-align: center;
}
.c-header .nav {
  margin-left: auto;
}
.c-header .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.c-header .menu .menu__item {
  align-self: flex-end;
  margin: 0 10px;
}
.c-header .menu .profile-icon {
  width: 23px;
  border-radius: 50%;
  object-fit: cover;
  height: auto;
}

/*--------------------------------------- 
// [END HEADER]
----------------------------------------*/
/*--------------------------------------- 
[$BOTTOM-NAV]
----------------------------------------*/
.c-bottom-bar {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .c-bottom-bar {
    display: none;
  }
}

.menu .menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
}
.menu .menu__link {
  width: 23px;
}
.menu .profile-img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

/*--------------------------------------- 
// [END BOTTOM-NAV]
----------------------------------------*/
/*--------------------------------------- 
[$GENERAL]
----------------------------------------*/
.link {
  font-size: 0.75rem;
  color: #0095f6;
  font-weight: 600;
}

.link--black {
  color: #262626;
}

.link--gray {
  color: #c7c7c7;
}

.link--regular {
  font-weight: 400;
}

/*--------------------------------------- 
// [END GENERAL]
----------------------------------------*/
/*--------------------------------------- 
[$CONTAINERS]
----------------------------------------*/
body {
  color: #262626;
  overflow-x: hidden;
}
@media (min-width: 767px) {
  body {
    background-color: #fafafa;
  }
}

@media (min-width: 767px) {
  .c-main {
    padding: 30px 0;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 767px) {
  .main-content {
    width: 614px;
    margin-right: 28px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1450px) {
  .main-content {
    position: relative;
    left: -9.5%;
  }
}

@media (min-width: 767px) {
  .c-posts {
    width: 100%;
  }
}

.c-aside {
  width: 293px;
  position: fixed;
  right: 18%;
}
@media (max-width: 1450px) {
  .c-aside {
    display: none;
  }
}

/*--------------------------------------- 
// [END CONTAINERS]
----------------------------------------*/
/*--------------------------------------- 
[$STORYS]
----------------------------------------*/
.c-storys {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  padding: 0 10px;
  overflow: auto;
}
@media (min-width: 767px) {
  .c-storys {
    box-shadow: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 0 16px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
}
.c-storys::-webkit-scrollbar {
  display: none;
}
.c-storys .story {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 12px 0 8px 0;
}
.c-storys .story .gradient-img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(43.06deg, #fbaa47 13.86%, #d91a46 51.04%, #a60f93 85.38%);
  margin-bottom: 5px;
}
.c-storys .story .story__img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.c-storys .story .story__text {
  font-size: 0.75rem;
  text-align: center;
  display: block;
}

/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/
/*--------------------------------------- 
[$POST]
----------------------------------------*/
.post {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.post:not(:last-child) {
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .post {
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 60px;
  }
}
.post .post__header {
  display: flex;
  padding: 10px;
}
@media (min-width: 767px) {
  .post .post__header {
    padding: 16px;
  }
}
.post .post__header .post__profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.post .post__header .post__profile .post__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.post .post__header .post__account {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.post .post__header .post__account .post__name {
  font-size: 0.813rem;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: -0.1px;
}
.post .post__header .post__account .post__location {
  font-size: 0.688rem;
}
.post .post__header .more {
  margin-left: auto;
}
.post .post__images {
  width: 100%;
}
@media (min-width: 767px) {
  .post .post__images {
    height: 629px;
    overflow: hidden;
  }
}
.post .post__images .post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post .post__footer {
  padding: 0 10px;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .post .post__footer {
    padding: 0 16px;
  }
}
.post .post__footer .post__interacao {
  display: flex;
}
.post .post__footer .post__interacao .post__icon {
  padding: 8px;
}
.post .post__footer .post__interacao .post__icon--margin {
  margin-left: auto;
}
.post .post__footer .post__interacao .post__icon--nop {
  padding-left: 0;
}
.post .post__likes {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.post .post__likes .post__likesImg {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}
.post .post__text {
  font-size: 0.813rem;
}
.post .post__comment {
  padding-bottom: 10px;
}
@media (min-width: 767px) {
  .post .post__comment {
    padding-bottom: 16px;
  }
}

/*--------------------------------------- 
// [END POST]
----------------------------------------*/
/*--------------------------------------- 
[$aside]
----------------------------------------*/
.aside-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 20px;
}
.aside-profile .aside-profile__images {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.aside-profile .aside-profile__images .aside-profile__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.aside-profile .aside-profile__imagesSugestion {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.aside-profile .aside-profile__imagesSugestion .aside-profile__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.aside-profile .aside-profile__body {
  width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}
.aside-profile .aside-profile__body .aside-profile__link--negativeM {
  margin-right: -24px;
}
.aside-profile .aside-profile__body .aside-profile__name {
  font-size: 0.875rem;
  font-weight: 600;
  opacity: 0.9;
}
.aside-profile .aside-profile__body .aside-profile__name .aside-profile__new {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  color: #8e8e8e;
}

.aside-sugestions__header {
  width: 100%;
  display: flex;
  align-items: center;
}
.aside-sugestions__header .aside-sugestions__left {
  font-size: 0.875rem;
  font-weight: 600;
  color: #8e8e8e;
}
.aside-sugestions__header .aside-sugestions__right {
  margin-left: auto;
}

.aside-sugestions-new {
  margin-left: 10px;
}

/*--------------------------------------- 
// [END aside]
----------------------------------------*/
/*--------------------------------------- 
[$aside-nav]
----------------------------------------*/
.aside-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.aside-nav .link {
  font-size: 0.625rem;
  margin-right: 5px;
}

/*--------------------------------------- 
// [END c-aside-nav]
----------------------------------------*/

/*# sourceMappingURL=home.css.map */
