/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
input[type=text] {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline-color: #8e8e8e;
  width: 100%;
  max-width: 268px;
  padding: 13px 0px 13px 8px;
  font-size: 0.75rem;
  box-sizing: border-box;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 268px;
  height: 29.6px;
  cursor: pointer;
}

a {
  color: #385185;
  text-decoration: none;
  font-weight: 600;
}

p {
  color: #262626;
}

/*--------------------------------------- 
[$reset]
----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------- 
// [END reset]
----------------------------------------*/
/*--------------------------------------- 
[$universal]
----------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

/*--------------------------------------- 
// [END universal]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
body {
  color: #262626;
  background-color: #fafafa;
}

/*--------------------------------------- 
[$CONTAINERS]
----------------------------------------*/
.c-site {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.c-main {
  display: flex;
  margin-top: 32px;
  padding-bottom: 52px;
}
@media (max-width: 426px) {
  .c-main {
    margin-top: initial;
    padding: initial;
  }
}
@media (max-width: 768px) {
  .c-main {
    justify-content: center;
  }
  .c-main .login-image {
    display: none;
  }
}

.l-login {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -10px;
}
@media (max-width: 768px) {
  .l-login {
    margin: initial;
  }
}
@media (max-width: 426px) {
  .l-login {
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
}

/*--------------------------------------- 
// [END CONTAINERS]
----------------------------------------*/
/*--------------------------------------- 
[$CONTAINER LOGIN]
----------------------------------------*/
.c-login {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px 40px 20px 40px;
  background-color: #ffffff;
}
@media (max-width: 426px) {
  .c-login {
    border: none;
    padding: initial;
    background-color: #fafafa;
  }
}
.c-login .c-login__brand {
  text-align: center;
  margin: 20px 0 40px 0;
}
.c-login .c-login__content {
  text-align: center;
}
@media (max-width: 768px) {
  .c-login .c-login__content {
    max-width: 268px;
  }
}
@media (max-width: 321px) {
  .c-login .c-login__content {
    max-width: 240px;
  }
}
.c-login .c-login__input {
  background-color: #fafafa;
}
.c-login .c-login__input:nth-child(2) {
  margin: 5px 0 10px 0;
}
.c-login .c-login__btn {
  color: #ffffff;
  font-weight: 600;
  background-color: #0095f6;
}
.c-login .login__or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 25px 0;
  text-align: center;
}
.c-login .login__or p {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  color: #8e8e8e;
}
.c-login .login__or::before {
  content: "";
  width: 101px;
  height: 1px;
  background-color: #dbdbdb;
}
.c-login .login__or:after {
  content: "";
  width: 101px;
  height: 1px;
  background-color: #dbdbdb;
}
.c-login .login__fb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.c-login .login__fb .link {
  margin-left: 5px;
  font-size: 0.813rem;
}
.c-login .login__senha {
  text-align: center;
}
.c-login .login__senha .link {
  font-size: 0.75rem;
}
.c-login .login__senha .link--regular {
  font-weight: 400;
}

/*--------------------------------------- 
// [END CONTAINER LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$CONTAINER CREATE]
----------------------------------------*/
.create {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 13px 0 20px 0;
}
@media (max-width: 426px) {
  .create {
    background-color: #fafafa;
    border: none;
  }
}
.create .create__text {
  font-size: 0.813rem;
  text-align: center;
}
.create .create__text .link--primary {
  color: #0095f6;
}

/*--------------------------------------- 
// [END CONTAINER CREATE]
----------------------------------------*/
/*--------------------------------------- 
[$CONTAINER APPs]
----------------------------------------*/
.c-app {
  width: 100%;
  text-align: center;
}
.c-app .c-app__text {
  font-size: 0.875rem;
}
.c-app .c-app__images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.c-app .c-images {
  width: 136px;
  height: auto;
}
.c-app .c-images__img {
  width: 100%;
  height: auto;
}

/*--------------------------------------- 
// [END CONTAINER APPs]
----------------------------------------*/
/*--------------------------------------- 
[$CONTAINER FOOTER]
----------------------------------------*/
.c-footer {
  width: 100%;
  height: 150px;
}
.c-footer .c-footer__menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-footer .c-footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.c-footer .c-footer__item {
  margin: 0 7px;
}
@media (max-width: 426px) {
  .c-footer .c-footer__item {
    margin: 0 10px;
  }
}
.c-footer .c-footer__link {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8e8e8e;
}
.c-footer .c-footer__link--margin {
  margin-right: 20px;
}
.c-footer .c-footer__copyright {
  text-align: center;
  padding: 20px 0 32px 0;
}

/*--------------------------------------- 
// [END CONTAINER FOOTER]
---------------------------------------*/

/*# sourceMappingURL=login.css.map */
