/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$STORYS]
----------------------------------------*/
/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/
input[type=text] {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  outline-color: #8e8e8e;
  width: 100%;
  max-width: 268px;
  padding: 13px 0px 13px 8px;
  font-size: 0.75rem;
  box-sizing: border-box;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
  border-radius: 3px;
  height: 29.6px;
  cursor: pointer;
}

a {
  color: #385185;
  text-decoration: none;
  font-weight: 600;
}

p {
  color: #262626;
}

/*--------------------------------------- 
[$reset]
----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------- 
// [END reset]
----------------------------------------*/
/*--------------------------------------- 
[$universal]
----------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

/*--------------------------------------- 
// [END universal]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
[$GERAL]
----------------------------------------*/
/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/
/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
/*--------------------------------------- 
[$STORYS]
----------------------------------------*/
/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/
/*--------------------------------------- 
[$colors]
----------------------------------------*/
/*--------------------------------------- 
// [END colors]
----------------------------------------*/
/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
.l-site {
  width: 100vw;
}

/*--------------------------------------- 
[$HEADER]
----------------------------------------*/
.c-nav {
  display: flex;
  flex: 1;
}

@media (max-width: 767px) {
  .c-nav,
.search-bar {
    display: none;
  }
}

.header-bg {
  background-color: #fafafa;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
}
@media (min-width: 767px) {
  .header-bg {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.c-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .c-header {
    max-width: 975px;
    margin: 0 auto;
    height: 54px;
    padding: 0;
    padding-left: 25px;
  }
  .c-header .cam {
    display: none;
  }
  .c-header .sand {
    display: none;
  }
}
.c-header .logo {
  display: flex;
  align-items: center;
}
@media (min-width: 767px) {
  .c-header .logo {
    flex: 1;
  }
}
.c-header .logo .logo__img {
  width: 105px;
  height: auto;
}
.c-header .search-bar {
  max-width: 215px;
  height: 28px;
  flex: 2;
}
.c-header .search-bar .bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
}
.c-header .search-bar .bar--image {
  background-image: url(../../../assets/icons/lupa-icon.svg);
  background-repeat: no-repeat;
  background-position: 33%;
}
.c-header .search-bar .bar::placeholder {
  text-align: center;
}
.c-header .nav {
  margin-left: auto;
}
.c-header .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.c-header .menu .menu__item {
  align-self: flex-end;
  margin: 0 10px;
}
.c-header .menu .profile-icon {
  width: 23px;
  border-radius: 50%;
  object-fit: cover;
  height: auto;
}

/*--------------------------------------- 
// [END HEADER]
----------------------------------------*/
/*--------------------------------------- 
[$BOTTOM-NAV]
----------------------------------------*/
.c-bottom-bar {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #f2f2f2;
}
@media (min-width: 769px) {
  .c-bottom-bar {
    display: none;
  }
}

.menu .menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 19px;
}
.menu .menu__link {
  width: 23px;
}
.menu .profile-img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

/*--------------------------------------- 
// [END BOTTOM-NAV]
----------------------------------------*/
/*--------------------------------------- 
[$header]
----------------------------------------*/
@media (max-width: 767px) {
  .header-bg {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .c-header .logo {
    display: none;
  }
  .c-header .search-bar {
    display: initial;
  }
  .c-header .sand {
    display: none;
  }
  .c-header .cam {
    display: none;
  }
  .c-header .picture {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 767px) {
  .c-header .picture {
    display: none;
  }
}
@media (max-width: 767px) {
  .c-header .search-bar {
    width: 100%;
    max-width: 100%;
    min-width: 217px;
    height: 36px;
    margin-right: 10px;
  }
  .c-header .search-bar .bar {
    max-width: 100%;
    outline: none;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background: #7676801f;
  }
  .c-header .search-bar .bar::placeholder {
    padding-left: 22px;
    text-align: start;
  }
  .c-header .search-bar .bar--image {
    background-image: url(../../../assets/icons/lupa-icon.svg);
    background-repeat: no-repeat;
    background-position: 2%;
  }
}
@media (max-width: 767px) and (max-width: 425px) {
  .c-header .search-bar .bar--image {
    background-position: 4%;
  }
}

/*--------------------------------------- 
// [END header]
----------------------------------------*/
/*--------------------------------------- 
[$buttons-search]
----------------------------------------*/
.c-buttons {
  display: flex;
  padding: 0 10px;
  overflow-x: auto;
}
.c-buttons::-webkit-scrollbar {
  display: none;
}
.c-buttons .buttons-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 10px;
  border: 1px solid #3c3c432e;
  border-radius: 6px;
  width: 100%;
  max-width: inherit;
  height: 29.6px;
  cursor: pointer;
  font-weight: 600;
  color: #262626;
}
.c-buttons .buttons-search:not(:last-child) {
  margin-right: 6px;
}
.c-buttons .button-icon {
  margin-right: 6px;
  margin-bottom: 3px;
}

/*--------------------------------------- 
// [END buttons-search]
----------------------------------------*/
.c-bottom-bar {
  position: fixed;
  background-color: #ffffff;
}

/*# sourceMappingURL=search.css.map */
