@import '../screen.scss';

/*--------------------------------------- 
[$GENERAL]
----------------------------------------*/

.link {
  font-size: $font12;
  color: $blue-primary;
  font-weight: 600;
}

.link--black {
  color: $black-primary;
}

.link--gray {
  color: #c7c7c7;
}

.link--regular {
  font-weight: 400;
}

/*--------------------------------------- 
// [END GENERAL]
----------------------------------------*/

/*--------------------------------------- 
[$CONTAINERS]
----------------------------------------*/

body {
  color: $black-primary;
  overflow-x: hidden;

  @media (min-width: 768px) {
    background-color: $white-secondary;
  }
}

.l-site {
  width: 100vw;
}

.c-nav {
  display: flex;
  flex: 1;
}

.c-nav,
.search-bar {
  @media (max-width: 768px) {
    display: none;
  }
}

.c-main {
  @media (min-width: 768px) {
    padding: 30px 0;
    margin-top: 54px;
    @include flex(center, flex-start);
  }
}

.main-content {
  @media (min-width: 768px) {
    width: 614px;
    margin-right: 28px;
    @include flex(flex-start, center);
    flex-direction: column;
  }

  @media (min-width: 1450px) {
    position: relative;
    left: -9.5%;
  }
}

.c-posts {
  @media (min-width: 768px) {
    width: 100%;
  }
}

.c-aside {
  width: 293px;
  position: fixed;
  right: 18%;
  @media (max-width: 1450px) {
    display: none;
  }
}

/*--------------------------------------- 
// [END CONTAINERS]
----------------------------------------*/

/*--------------------------------------- 
[$HEADER]
----------------------------------------*/

.header-bg {
  background-color: $white-secondary;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-secondary;

  @media (min-width: 768px) {
    width: 100%;
    background-color: $white-primary;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.c-header {
  width: 100%;
  @include flex(space-between, center);
  padding: 10px;
  box-sizing: border-box;

  @media (min-width: 769px) {
    max-width: 975px;
    margin: 0 auto;
    height: 54px;
    padding: 0;
    padding-left: 25px;

    .cam {
      display: none;
    }

    .sand {
      display: none;
    }
  }

  .logo {
    @media (min-width: 769px) {
      flex: 1;
    }
    display: flex;
    align-items: center;

    .logo__img {
      width: 105px;
      height: auto;
    }
  }

  // SEARCH HEADER
  .search-bar {
    max-width: 215px;
    height: 28px;
    flex: 2;
    text-align: center;
    .bar {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background-color: $white-secondary;
    }

    .bar--image {
      background-image: url(../../../assets/icons/lupa-icon.svg);
      background-repeat: no-repeat;
      background-position: 33%;
    }

    .bar::placeholder {
      text-align: center;
    }
  }

  // MENU HEADER
  .nav {
    margin-left: auto;
  }
  .menu {
    @include flex(flex-start, center);
    flex: 1;

    .menu__item {
      align-self: flex-end;
      margin: 0 10px;
    }

    .profile-icon {
      width: 23px;
      border-radius: 50%;
      object-fit: cover;
      height: auto;
    }
  }
}

/*--------------------------------------- 
// [END HEADER]
----------------------------------------*/

/*--------------------------------------- 
[$STORYS]
----------------------------------------*/

.c-storys {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  padding: 0 10px;
  overflow: auto;

  @media (min-width: 768px) {
    box-shadow: none;
    @include border;
    padding: 0 16px;
    margin-bottom: 20px;
    background-color: $white-primary;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  .story {
    @include flex(flex-start, center);
    flex-direction: column;
    padding: 12px 0 8px 0;

    .gradient-img {
      @include box-radius(62px);
      @include flex(center, center);
      @include gradient;
      margin-bottom: 5px;
    }
    .story__img {
      @include box-radius(56px);
      border: 2px solid $white-primary;
    }
    .story__text {
      font-size: $font12;
      text-align: center;
      display: block;
    }
  }
}

/*--------------------------------------- 
// [END STORYS]
----------------------------------------*/

/*--------------------------------------- 
[$POST]
----------------------------------------*/

.post {
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid $gray-secondary;
  border-bottom: 1px solid $gray-secondary;

  @media (min-width: 768px) {
    background-color: $white-primary;
    @include border;
    margin-bottom: 60px;
  }
  // POST HEADER
  .post__header {
    display: flex;
    padding: 10px;

    @media (min-width: 768px) {
      padding: 16px;
    }

    .post__profile {
      @include box-radius(32px);
      .post__img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .post__account {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      .post__name {
        font-size: $font13;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: -0.1px;
      }

      .post__location {
        font-size: $font11;
      }
    }

    .more {
      margin-left: auto;
    }
  }

  // POST IMAGE
  .post__images {
    width: 100%;

    @media (min-width: 768px) {
      height: 629px;
      overflow: hidden;
    }

    .post__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // POST FOOTER
  .post__footer {
    padding: 0 10px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      padding: 0 16px;
    }
    .post__interacao {
      display: flex;
      .post__icon {
        padding: 8px;
      }

      .post__icon--margin {
        margin-left: auto;
      }

      .post__icon--nop {
        padding-left: 0;
      }
    }
  }

  .post__likes {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .post__likesImg {
      @include box-radius(17px);
      margin-right: 5px;
    }
  }

  .post__text {
    font-size: $font13;
  }

  .post__comment {
    padding-bottom: 10px;

    @media (min-width: 768px) {
      padding-bottom: 16px;
    }
  }
}
/*--------------------------------------- 
// [END POST]
----------------------------------------*/

/*--------------------------------------- 
[$aside]
----------------------------------------*/

.aside-profile {
  @include flex(flex-start, center);
  width: 100%;
  margin-top: 18px;
  margin-bottom: 20px;

  .aside-profile__images {
    @include box-radius(56px);

    .aside-profile__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .aside-profile__imagesSugestion {
    @include box-radius(32px);

    .aside-profile__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .aside-profile__body {
    width: 76%;
    @include flex(space-between, center);
    margin-left: 15px;

    .aside-profile__link--negativeM {
      margin-right: -24px;
    }

    .aside-profile__name {
      font-size: $font14;
      font-weight: 600;
      opacity: 0.9;

      .aside-profile__new {
        display: block;
        font-size: $font12;
        font-weight: 400;
        color: $gray-primary;
      }
    }
  }
}

.aside-sugestions__header {
  width: 100%;
  display: flex;
  align-items: center;

  .aside-sugestions__left {
    font-size: $font14;
    font-weight: 600;
    color: $gray-primary;
  }

  .aside-sugestions__right {
    margin-left: auto;
  }
}

.aside-sugestions-new {
  margin-left: 10px;
}

/*--------------------------------------- 
// [END aside]
----------------------------------------*/

/*--------------------------------------- 
[$aside-nav]
----------------------------------------*/

.aside-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .link {
    font-size: $font10;
    margin-right: 5px;
  }
}

/*--------------------------------------- 
// [END c-aside-nav]
----------------------------------------*/
