//ESTILIZAÇÃO DA TELA DE LOGIN
@import '../screen.scss';

body {
  color: $black-primary;
  background-color: $white-secondary;
}

/*--------------------------------------- 
[$CONTAINERS]
----------------------------------------*/

.c-site {
  width: 100%;
  @include flex(flex-start, center);
  flex-direction: column;
}

.c-main {
  display: flex;
  margin-top: 32px;
  padding-bottom: 52px;

  @media (max-width: 426px) {
    margin-top: initial;
    padding: initial;
  }

  @media (max-width: 768px) {
    justify-content: center;
    .login-image {
      display: none;
    }
  }
}

.l-login {
  width: 350px;
  @include flex(center, flex-start);
  flex-direction: column;
  margin-left: -10px;

  @media (max-width: 768px) {
    margin: initial;
  }

  @media (max-width: 426px) {
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }
}

/*--------------------------------------- 
// [END CONTAINERS]
----------------------------------------*/

/*--------------------------------------- 
[$CONTAINER LOGIN]
----------------------------------------*/

.c-login {
  @include border();
  padding: 10px 40px 20px 40px;
  background-color: $white-primary;

  @media (max-width: 426px) {
    border: none;
    padding: initial;
    background-color: $white-secondary;
  }

  .c-login__brand {
    text-align: center;
    margin: 20px 0 40px 0;
  }

  // LOGIN FORM
  .c-login__content {
    text-align: center;

    @media (max-width: 768px) {
      max-width: 268px;
    }

    @media (max-width: 321px) {
      max-width: 240px;
    }
  }

  .c-login__input {
    background-color: $white-secondary;

    &:nth-child(2) {
      margin: 5px 0 10px 0;
    }
  }

  .c-login__btn {
    color: $white-primary;
    font-weight: 600;
    background-color: $blue-primary;
  }

  // LOGIN COM
  .login__or {
    @include flex(space-between, center);
    margin: 20px 0 25px 0;
    text-align: center;

    p {
      text-transform: uppercase;
      font-size: $font12;
      font-weight: bold;
      color: $gray-primary;
    }

    &::before {
      content: '';
      width: 101px;
      height: 1px;
      background-color: $gray-secondary;
    }

    &:after {
      content: '';
      width: 101px;
      height: 1px;
      background-color: $gray-secondary;
    }
  }

  .login__fb {
    @include flex(center, center);
    margin-bottom: 20px;
    .link {
      margin-left: 5px;
      font-size: $font13;
    }
  }

  // ESQUECI A SENHA
  .login__senha {
    text-align: center;

    .link {
      font-size: $font12;

      &--regular {
        font-weight: 400;
      }
    }
  }
}

/*--------------------------------------- 
// [END CONTAINER LOGIN]
----------------------------------------*/

/*--------------------------------------- 
[$CONTAINER CREATE]
----------------------------------------*/

// CRIAR CONTA
.create {
  @include border();
  background-color: $white-primary;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  margin: 13px 0 20px 0;

  @media (max-width: 426px) {
    background-color: $white-secondary;
    border: none;
  }

  .create__text {
    font-size: $font13;
    text-align: center;

    .link--primary {
      color: $blue-primary;
    }
  }
}

/*--------------------------------------- 
// [END CONTAINER CREATE]
----------------------------------------*/

/*--------------------------------------- 
[$CONTAINER APPs]
----------------------------------------*/

// FAZER DOWNLOAD
.c-app {
  width: 100%;
  text-align: center;

  .c-app__text {
    font-size: $font14;
  }

  .c-app__images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .c-images {
    width: 136px;
    height: auto;
  }

  .c-images__img {
    width: 100%;
    height: auto;
  }
}

/*--------------------------------------- 
// [END CONTAINER APPs]
----------------------------------------*/

/*--------------------------------------- 
[$CONTAINER FOOTER]
----------------------------------------*/
.c-footer {
  width: 100%;
  height: 150px;

  .c-footer__menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .c-footer__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  .c-footer__item {
    margin: 0 7px;

    @media (max-width: 426px) {
      margin: 0 10px;
    }
  }

  .c-footer__link {
    font-size: $font12;
    font-weight: 400;
    color: $gray-primary;
  }

  .c-footer__link--margin {
    margin-right: 20px;
  }

  .c-footer__copyright {
    text-align: center;
    padding: 20px 0 32px 0;
  }
}

/*--------------------------------------- 
// [END CONTAINER FOOTER]
---------------------------------------*/
