//ESTILIZAÇÃO BÁSICAS DE h1-h6, blockquotes, a, buttons. NÃO ESTILIZAR TUDO!
@import './mixins';

input[type='text'] {
  @include border();
  outline-color: $gray-primary;
  width: 100%;
  max-width: 268px;
  padding: 13px 0px 13px 8px;
  font-size: $font12;
  box-sizing: border-box;
}

button {
  @include border--transparent();
  border-radius: 3px;
  width: 100%;
  max-width: 268px;
  height: 29.6px;
  cursor: pointer;
}

a {
  color: $blue-secondary;
  text-decoration: none;
  font-weight: 600;
}

p {
  color: $black-primary;
}
