//AQUI FICA OS MIXINS
@import './settings';

/*--------------------------------------- 
[$GERAL]
----------------------------------------*/

@mixin flex($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/*--------------------------------------- 
// [END GERAL]
----------------------------------------*/

/*--------------------------------------- 
[$SCREEN LOGIN]
----------------------------------------*/

@mixin border {
  border: 1px solid $gray-secondary;
  border-radius: 3px;
}

@mixin border--transparent {
  border: 1px solid transparent;
  border-radius: 3px;
}

/*--------------------------------------- 
// [END SCREEN LOGIN]
----------------------------------------*/
