//VARIÁVEIS GLOBAIS DE ESTILOS CORES, ESPAÇAMENTO E ETC.
/*--------------------------------------- 
[$colors]
----------------------------------------*/

$blue-primary: #0095f6;
$blue-secondary: #385185;
$blue-tertiary: #00376b;

$black-primary: #262626;
$black-secondary: #000000;

$gray-primary: #8e8e8e;
$gray-secondary: #dbdbdb;
$gray-tertiary: #767676;

$white-primary: #ffffff;
$white-secondary: #fafafa;

/*--------------------------------------- 
// [END colors]
----------------------------------------*/

/*--------------------------------------- 
[$ FONTS sizes]
----------------------------------------*/
$font10: 0.625rem;
$font11: 0.688rem;
$font12: 0.75rem;
$font13: 0.813rem;
$font14: 0.875rem;

/*--------------------------------------- 
// [END  FONTS sizes]
----------------------------------------*/
